/*
Author: Jonne Lillhonga
Date: 2025-09-26
*/
h1{
    color: blue;
    font-size:  2em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.box{
    background-color: lightblue;
    padding: 10px;
    border: 5px solid darkblue;
}
.highlight{
    background-color: red;
    font-weight: bold;
}
#special-message{
    color: purple;
    font-style: italic;
}
h1,h2{
    margin-bottom: 10px;
    text-transform: uppercase
}
ul li{
    color: green;
    font-size: 1.1em;
}
img[alt]{
    border: 2px dashed darkgreen;
    width: 200px;
}